body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}

h1{ 
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

h2{
    padding: 2px;
    text-align: center;
    color: #ddd;
}

#video-container {
    display: flex;
    flex-direction: column; /* Change to column to stack the video player and list vertically */
    /* align-items: center;
    justify-content: center; */
    background-color: white;
    /* height: 200vh; Set a fixed height to fill the viewport */
    text-align: center;

}

#video-list {
    display: flex; /* Display the videos horizontally */
    align-items: center;
    padding: 5px;
    background-color: #fff;
    overflow-x: auto; /*Add horizontal scrolling for the video list */
}

#video-list div {
    display: inline-block; /* Display containers side by side */
    text-align: center; /* Center align content */
    /* margin: 10px; Add spacing between image-container elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    cursor: pointer;
}

#video-list img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 5px solid whitesmoke;
    transition: transform 0.2s;
    margin-right: 10px;
    margin-top: 0;
}

#video-list img:hover {
    transform: scale(1.05);
}

#video-list p {
    font-size: 14px;
    color: #333;
}

#video-list thumbnail {
color: aqua;    
}


#video-player {
    padding: 5px;
    background-color: black;
    width: 100%;
    align-items: center;
    height: 60vh;

}

iframe {
    width: 640px; /* Set the width to match YouTube player size */
    height: 360px; /* Set the height to match YouTube player size */
    border: none;

}


#gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*for keyword css*/

#keyword-section {
    padding: 10px;
    background-color: #f9f9f9;
}

/* Style checkboxes */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Style the custom keyword input and search button */
#custom-keyword {
    padding: 5px;
}

/* Style the search button */
button[type="submit"] {
    padding: 5px 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}