body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}

h1{ 
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

h2{
    padding: 2px;
    text-align: center;
    color: #ddd;
}

#video-container {
    display: flex;
    flex-direction: column; /* Change to column to stack the video player and list vertically */
    /* align-items: center;
    justify-content: center; */
    background-color: white;
    /* height: 200vh; Set a fixed height to fill the viewport */
    text-align: center;

}

#video-list {
    display: flex; /* Display the videos horizontally */
    align-items: center;
    padding: 5px;
    background-color: #fff;
    overflow-x: auto; /*Add horizontal scrolling for the video list */
}

#video-list div {
    display: inline-block; /* Display containers side by side */
    text-align: center; /* Center align content */
    /* margin: 10px; Add spacing between image-container elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 10px; */
    cursor: pointer;
}

#video-list img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 5px solid whitesmoke;
    transition: transform 0.2s;
    margin-right: 10px;
    margin-top: 0;
}

#video-list img:hover {
    transform: scale(1.05);
}

#video-list p {
    font-size: 14px;
    color: #333;
}

#video-list thumbnail {
color: aqua;    
}


#video-player {
    padding: 5px;
    background-color: black;
    width: 100%;
    align-items: center;
    height: 60vh;

}

iframe {
    width: 640px; /* Set the width to match YouTube player size */
    height: 360px; /* Set the height to match YouTube player size */
    border: none;

}


#gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS style for checkbox dropdown menu */
/* Display keywords vertically */
.checkbox-dropdown-menu {
    display: inline-block; /* Shape of the box encasing the keywords is relative to the filter box*/
}

/* Encases the dropdown menu in a rectangle*/
.checkbox-dropdown-menu .list {
    position:relative; /* Size of rectangle is based on the content inside it*/
    cursor: pointer; /* mouse pointer changes when hovered over */
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #000000;
}

/* CSS style for downward arrow for filtering feature */
.checkbox-dropdown-menu .list:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg); /* Line 124 to 128 adjust the orientation of the arrow*/
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/* Encases the keywords in a rectangular box when interacted with*/
.checkbox-dropdown-menu ul.keywords {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #000000;  
}

/* Displays the keywords*/
.checkbox-dropdown-menu.visible .keywords {
    display: block;
}